body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(-30deg, #0F1609, #313D21);
    font-family: 'Google Sans';
    font-style: normal;
    backdrop-filter: blur(5px);
}

@font-face {
	font-family: 'Google Sans'; 
	src: local('Google Sans'),
		url(../css/GoogleSans-Regular.ttf); 
}

.card {
    background-color: #D0F0C0;
    /* opacity: 50%; */
    height: 235px;
    width: 400px;
    border-radius: 20px;
}

.content {
    padding: 0 15px 0 25px;
}

.up {
    display: flex;
    justify-content: space-between;
}

.photo {
    max-width: 150px;
    max-height: 150px;
    border: 3px solid /* #e1ffa8 */ #D0F0C0;
    border-radius: 20px;
    margin-top: -50px;
}

.social {
    color: black;
    width: 32px;
}

h3,
h4,
p {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
}

details {
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    position: relative;
    right: 10px;
    bottom: 15px
}

summary {
    cursor: pointer;
  }
