AddDefaultCharset utf-8
ErrorDocument 400 https://http.cat/400
ErrorDocument 401 https://http.cat/401
ErrorDocument 403 https://http.cat/403
ErrorDocument 503 https://http.cat/503

Redirect 303 /lastfm https://www.last.fm/ru/user/Igordos
Redirect 303 /twitch https://twitch.tv/igodra_
Redirect 303 /youtube https://www.youtube.com/c/Igordos
Redirect 303 /vk https://ovk.to/id2460
Redirect 303 /openvk https://ovk.to/id2460
Redirect 303 /discord https://discord.gg/RqnU6VB9cT
Redirect 301 /igodra https://i.orehus.club/embed/q9zKYh8sY_E
Redirect 303 /github https://github.com/IgordosDev
Redirect 303 /megalovania https://jcw87.github.io/c2-sans-fight/
Redirect 303 /spelunky http://tinysubversions.com/game/spelunky/

\\ скрытие .html
RewriteEngine on
RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*) /$1.html
\\ скрытие ?i=1 появляющееся по каким-то причинам
RewriteCond %{QUERY_STRING} .
RewriteRule ^([^.]*)$ /$1? [L,NE,R=301]

Header set X-Frame-Options: SAMEORIGIN