@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(-30deg, #0F1609, #171a11);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
}

header {
    background-color: #3e493370;
    padding: 5px;
}
footer {
    color: wheat;
    padding: 15px;
    background-color: #4e7e4e;
    justify-content: space-around;
    text-align: center;
    align-items: stretch;
    flex-direction: column;
}

a, a:visited {
    color: mediumaquamarine;
    text-decoration: none;
}

.tippy-content a {
    color: forestgreen;

}

i {
    opacity: 50%;
}

.gallery img {
    max-height: 150px;
    /* max-width: 70%; */
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.gallery > a {
    display: inline-block;
    max-width: 100vw;
}

.spoiler {
    filter: blur(10px);
    &:hover {
        filter: none;
        };
        transition: 100ms eace
    } /* спасибо @kaoshipaws */